@import '/public/assets/scss/variables';

.mypageEdit--main{
    @include pagePadding;

    .mypageEdit--user__img{
        height: 180px;
        width: 180px;
        border-radius: 100%;
        background-color: $greycolor;
        background-size: 110%;
        background-position: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    form{
        width: 100%;
        .btn__img{
            color: red;
            text-align: center;
            width: 50%;   
        }
        label,input,textarea{
            display: block;
            margin: 10px auto 0px;
            width: 70%;
        }
        label{
            margin-top: 20px;
        }
        input{
            height: 30px;
            padding-left: 10px;
        }
        textarea{
            padding: 10px;
            min-width: 70%;
            max-width: 70%;
            height: 100px;
        }
        .btn__save{
            @include secondarybutton($themecolorYellow,$darkerYellow);
            border-color: transparent;
            width: 150px;
            height: 40px;
            display: block;
            margin: 20px auto;
        }
        p.createAccound__fail{
            text-align: center;
            font-size: 12px;
            color: $themecolorRed;
            margin-bottom: 5px;
            margin-top: 20px;
        }
    }
}


// quand l'ecran est plus petit que mobile($small)
@media (max-width : $small) {
    .mypageEdit--main{
        @include menuPadding;

        .mypageEdit--user__img{
            height: 130px;
            width: 130px;
        }
    }
}