@import '/public/assets/scss/variables';


.chat__inbox{
    padding: 20px 40px;
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 500px;
    height: 90vh;
    // border: 1px solid blue;
    background-color: #e0e0e0;
    overflow-y: scroll;
    z-index: 9999;

    &::-webkit-scrollbar {
        width: 5px; 
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 6px; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; 
    }

    h2{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    }

    ul{
        li{
            height: 100px;
            display: flex;
            align-items: center;
            gap: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.176);

            .chat-inbox__sender__img{
                height: 70px;
                width: 70px;
                background-color: pink;
                border-radius: 50%;
                cursor: pointer;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .chat-inbox__last-message{
                // background-color: aqua;
                width: 60%;
                cursor: pointer;

                .chat-inbox__last-message--sender{
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .chat-inbox__last-message--content{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}


@media (max-width : 550px) {
    .chat__inbox{
        padding: 10px 20px;
        width: 280px;

        ul{
            li{
                height: 70px;
                gap: 10px;

                .chat-inbox__sender__img{
                    height: 40px;
                    width: 40px;   
                }
            }
        }
    }
}
