@import '/public/assets/scss/variables';

.adminReport--main{
    @include menuPadding;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    
    h2{
        margin-bottom: 40px; 
    }
    .admin--manageReport{
        width: 100%;
        table-layout: fixed;

        .col-1, .col-4,.col-5 {
            width: 10%;
        }
        .col-2, .col-3, .col-6{
            width: 25%;
        }
        .table__tableheader{
            th{
                border: 0px solid transparent;
                text-wrap: nowrap;
                font-size: 14px;
                padding-bottom: 20px;

            }
        }

        .table__postcontent{

            td{
                text-align: center;
                padding: 20px 0px;
                box-shadow: 0px 1px 0px $greycolor;
                font-size: 16px;
               
                &:nth-child(2), &:nth-child(3){
                    font-weight: bold;
                    text-wrap: wrap;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
                &:nth-child(5){
                    font-size: 12px;
                    color: $greycolor;
                }
                &:nth-child(6){
                    display: flex;
                    justify-content: space-evenly;

                    button{
                        display: inline-block;
                        font-size: 18px;
                        padding: 5px;
                        border: none;
                        cursor: pointer;

                        &:nth-child(1){
                            background-color: $themecolorGreen;

                            &:hover{
                                background-color: $darkerGreen;
                            }
                        }
                        &:nth-child(2){
                            background-color: $themecolorRed;

                            &:hover{
                                background-color: $darkerRed;
                            }
                        }
                    }
                }
            }
        }  
    }

    .noResult{
        width: 100%;
        margin-bottom: 30px;

        hr{
            margin: 50px 0px;
            width: 100%;
        }
        p{
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;
        }
    }
}